{% extends '_layout' %}

{% block main %}

<h2> This is the main block...</h2>
{% for entry in craft.entries.section('blog').limit(10).all() %}

<a href="{{ entry.url}}">
  <h2 class ="post-title">
    {{ entry.title }}
  </h2>
</a>

  <h3>
    {{ entry.blogIntroduction }}
  </h3>

    {{ entry.blogBody }}

    <p> Posted By <a href= '#'>{{ entry.author }}</a> on {{ entry.postDate | date('M d,Y') }}</p>
{% endfor %}

{% endblock %}
